<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" id="today"><i class="fa-regular fa-calendar" style="color:#ffffff;"></i> Today</a>
          <a href="/work" id="work"><i class="fa-solid fa-briefcase" style="color: #ffffff;"></i> Work</a> 
        </nav>
    </header>
</body>
</html>
